%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

//
// Fonts
//
%sans-serif {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

%serif {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

//
// Font Styling
//
%bold {
  font-weight: 900;
}

%italic {
  font-style: italic;
}

//
// Icons
//
%icon {
  font-family: 'icon'; //declared in the typography partial
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  speak: none;
}

%twitter {
  @extend %icon;
  &:before{
    content: '\e900';
  }
}

%facebook{
  @extend %icon;
  &:before{
    content: '\e901';
  }
}

%github{
  @extend %icon;
  &:before{
    content: '\e90c';
  }
}

%award{
  @extend %icon;
  &:before{
    content: '\e903';
  }
}

%location{
  @extend %icon;
  &:before{
    content: '\e902';
  }
}

%glass{
  @extend %icon;
  &:before{
    content: '\e904';
  }
}

%mug{
  @extend %icon;
  &:before{
    content: '\e905';
  }
}

%world{
  @extend %icon;
  &:before{
    content: '\e906';
  }
}

%mail{
  @extend %icon;
  &:before{
    content: '\e909';
  }
}

%open-brackets{
  @extend %icon;
  &:before{
    content: '\e907';
  }
}

 %close-brackets{
  @extend %icon;
  &:before{
    content: '\e908';
  }
}
